In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Boston.csv')

In [3]:
df.head(3)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [9]:
df.shape

(506, 15)

In [4]:
input_data = df.iloc[:,:-1]

In [5]:
outpot_data = df['medv']

In [6]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test = train_test_split(input_data,outpot_data,test_size=0.25)

In [13]:
x_train.shape , y_train.shape

((379, 14), (379,))

In [15]:
x_test.shape, y_test.shape

((127, 14), (127,))

In [19]:
((x_train.shape[0]*x_train.shape[1])/(df.shape[0]*df.shape[1]))*100

69.90777338603425

In [18]:
((x_test.shape[0]*x_test.shape[1])/(df.shape[0]*df.shape[1]))*100

23.425559947299078